<div class="col-xs-12 col-sm-6 col-col-md-3 col-lg-3 card">
    <div class="card-inner"> 
        <div class="card-buttons pull-right hidden">
            <a class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a class="btn btn-primary"><span class="glyphicon glyphicon-print"></span></a>
            <a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <div class="card-text">
            <span class="card-title">{{data.title}}</span> 
            <span class="card-description">{{data.description}}</span> 
        </div>
    </div>
</div>


